POSTGRES_USER=tareaunobd2
POSTGRES_PASSWORD=holaHolaComoEstan
POSTGRES_DB=TareaUnoDB
POSTGRES_PORT=5432
API_PORT=1412
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_ISSUER_URL=http://localhost:6767/realms/tareauno
KC_JWKS_URL=http://keycloak:6767/realms/tareauno/protocol/openid-connect/certs